.forgotpass-wrapper {
  border: 1px solid #dddddd;
  border-radius: 20px;
  width: 60vw;
  height: 70vh;
  margin: 70px auto;
  padding: 40px 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.forgotpass-wrapper p {
  margin-bottom: 20px;
}

.forgotpass-wrapper form {
  display: block;
}

.forgotpass-wrapper input {
  padding: 11px;
  border: 1px solid #ccc;
  margin-bottom: 3px;
  width: 70%;
  color: #2c3e50;
  outline: none;
}

.forgotpass-wrapper button {
  display: block;
  background-color: #00b3d4;
  border: none;
  padding: 12px 40px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  margin: 10px auto;
}
